您好，<br />
感謝您協助填寫人生百味【<a href="https://homeless-helper.doyouaflavor.tw/">無家者小幫手</a>】的送餐資料，<br />
您與其他的網站使用者將可以隨時至日曆查看這筆資料。<br />
<br />
提醒您，<br />
由於小幫手計劃希望能達到穩定街頭資源的目的，因此提供了一個資訊公開的平台，<br />
但由於目前的人力尚無法協助媒合資源、志工與有需求的無家者，<br />
因此完成登記後，還需要請您親自送達填寫的送餐地點喔！<br />
<br />
若親自分享餐點聽起來實在有點令人緊張，<br />
上街前建議服用「街頭食物分享小指南」，<br />
也許可以減緩一些身心不適的症狀。<br />
<br />
<br />
若日曆上有其他筆資料與您衝突，人生百味的夥伴可能將致電與您進行協調，<br />
關於小幫手計劃，若您有任何的疑問，也歡迎您來電與我們聯絡：(02) 2371 2771<br />
另外，也歡迎您與我們分享網站的使用心得、上街送餐的經驗交流喔！<br />
搜尋臉書社團：【<a href="https://www.facebook.com/groups/415693788935870/">無家者小幫手：網站使用經驗交流分享區</a>】<br />
<br />
<br />
<br />
再次感謝您的參與，<br />
期待街頭因為您的加入而更加友善與溫暖  :)<br />
<br />
人生百味團隊<br />
<br />
<a href="https://www.facebook.com/Do.you.a.flavor/">最新訊息</a> ｜ <a href="https://medium.com/人生百味">文章匯集</a> ｜ <a href="http://doyouaflavor.tw/">官方網站</a> ｜ <a href="https://www.facebook.com/do.you.a.soup">活動參與</a>
